body h1 {
    text-align: center;
}

table {
    margin-bottom: 10px;
}
 
body h2 {
    text-align: center;
}

.filterForm {
    gap: 10px;
    margin: 0px 10px;
}

.plot-img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    background: white;
}

/*table style*/
table {
    border: 3px solid gray;
    border-collapse: collapse;
}
th {
    background-color: tan;
    border: 1px solid gray
}
th.rowHeaders {
    text-align: left;
    max-width: 20em;
}
td {
    border: 3px solid gray;
    text-align: center;
    padding: 3px;
}