h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
p.forGraders {
    border: 3px solid red;
    margin-left: 15%;
    margin-right: 15%;
    padding: 3px;
}