body {
    margin: 0px;
    min-width: 760px;
    background-image: url('/static/images/background_tile.png');
    background-repeat: repeat;
    background-size: 13%;
    background-color: rgba(112, 173, 213, 0.771); /*tint*/
    background-blend-mode: screen; /* Blends the color and image */
}
#wrapper {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    padding: 3px;
    background-color: white;
    box-shadow: 5px 5px 15px 5px #585858;
}
p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16pt;
}
button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #6391B8;
    border-color: #e8e8e8;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    :hover {
        background: #e8e8e8;
        color: #3d3d3d;
    }  
}

/*header*/
header {
    display: flex;
    align-items: center;
    background-color: gray;
}
a.homeLogo {
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 10px;
    background-color: tan;
    font-size: 2em;
    font-weight: bold;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: center;    
}
header nav div.navButtons {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 4%; 
}
header nav button {
    background: #ffffff;
}

header nav form {
    flex: 1;
    align-items: stretch;
}
.stateSearch {
    min-width: 100px;
    width: 20%;
}

#searchErrorBanner {
    background-color: rgb(195, 54, 54);
    padding: 3px;   
    text-align: center;
    margin-top: 10px;
    font-size: 20pt;
    display: none;
}

.skip-link {
    display: none;
}


/*utility*/
.centerFlexbox {
    display: flex;
    justify-content: center;
}

.muted {
    color: #555;
}