<!DOCTYPE html>
<html>
<head>
<title>Home</title>    
<link rel="stylesheet" href="{{url_for('static',filename='main_style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='compareutility_style.css')}}">
</head>
<body>
{% include 'header.html' %}
<div id="wrapper">
<h1>COMPARE STATES:</h1>
<div class="compareutilityform">
<form onsubmit="return checkCompareUtilityInput();" name="compareutility" action="compareutility" method="post">
{% if state1_autofill != None %}
    <input type="text" class="state" name="state1" placeholder="Enter state 1:" aria-label="Enter first state to compare"
    value="{{ state1_autofill }}">
{% else %}
    <input type="text" class="state" name="state1" placeholder="Enter state 1:" aria-label="Enter first state to compare">
{% endif %}
<input type="text" class="state" name="state2" placeholder="Enter state 2:" aria-label="Enter second state to compare">
<select id="year" name="year" aria-label="Enter year">
    {% for i in available_years %}
        <option value="{{i}}">{{i}}</option>
    {% endfor %}
</select>
<input type="submit" value="Search">
</form>
{% include 'compareutility_js.html' %}
</div>
</div>
</body>
</html>