<!DOCTYPE html>
<html>
<head>
<title>Home</title>    
<link rel="stylesheet" href="{{url_for('static',filename='main_style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='compare_style.css')}}">
</head>
<body>
{% include 'header.html' %}
<div id="wrapper">
<h1>Comparison for {{ state1 }} and {{ state2 }}</h1>

<div class="centerFlexbox">
<img
      class="plot-img"
      src="{{ plot_png }}"
      alt="Bar chart of average electricity price by sector"
    >
</div>
</div>

</body>
</html>