<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
</script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
rel="stylesheet" type="text/css" /> 

<header>
<a href="{{ url_for('homepage') }}" class="homeLogo">Watt Watch USA</a>

<nav>
<div class="navButtons">
    <a href="{{ url_for('display_us_data', graph_title='Generation (kWh)', year=2024) }}"><button>All US</button></a>
    <a href="{{ url_for('usmap') }}"><button>Map</button></a>
    <a href="{{ url_for('compareutility') }}"><button>Compare</button></a>
</div>

<form onsubmit="return checkSearchInput();" name="search" action="/search" method="post"></form>
<input form="search" class="stateSearch" type="text" id="stateSearch" name="state" placeholder="Enter state:" aria-label="Enter state to search">
<button form="search" type="submit">Update</button>
</nav>

</header>

<div id="searchErrorBanner"></div>
{% include 'search_js.html' %}