<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
</script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
rel="stylesheet" type="text/css" /> 

<header>
    <a href="{{ url_for('homepage') }}" class="homeLogo">Watt Watch USA</a>

    <nav>
        <!-- Search form -->
        <form onsubmit="return checkSearchInput();" name="search" action="/search" method="post">
        <input class="stateSearch" type="text" id="stateSearch" name="state" placeholder="Enter state:" aria-label="Enter state to search">
        <button type="submit" class="siteButton">Update</button>
        </form>

        <!-- Nav buttons -->
        <div class="navButtons">
            <a href="{{ url_for('display_us_data') }}"><button class="siteButton">All US</button></a>
            <a href="{{ url_for('compareutility') }}"><button class="siteButton">Compare</button></a>
        </div>
    </nav>
</header>

<div id="searchErrorBanner"></div>
{% include 'search_js.html' %}