<!DOCTYPE html>
<html>
<head>
<title>Home</title>    
<link rel="stylesheet" href="{{url_for('static',filename='main_style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='index_style.css')}}">
</head>
<body>
{% include 'header.html' %}
<div id="wrapper">
<h1>Watt Watch USA</h1>
<br>
<h2>About US</h2>

    <p>
    We are dedicated to providing common energy data, compiled by the united states government, in an easy to access and understand format.
    Use the searchbar to see the data for your chosen state and then use compare to see how your state stacks up against others, or even the
    whole US.
    </p>
    <br>
    <br>
    Data Sources:<br>
    <h3>Sales and Revenue Data</h3>
    <p>
    - https://www.eia.gov/electricity/data.php under sales consumption <br>
    - Downloaded: Mon Jan 12, 2026 <br>
    - Authorr: US Energy Information Administration<br>
    - Exact Name: Sales_Revenue<br>
    - Data is for public use<br>
    - Suggested citation: US Energy Information Administration (December, 2025)<br>
    </p>
    <h3>Emissions</h3>
    <p>
    - https://www.eia.gov/electricity/data/emissions/ <br>
    - Downloaded: Sun Jan 11, 2026 <br>
    - Author: US Energy Information Administration <br>
    - Exact Name: Carbon Dioxide Emissions at Electric Power Plants (from multiple years)<br>
    - Data from US Energy Information Administration is for public use <br>
    - Suggested citation: US Energy Information Administration, (November, 2025) <br>    </p>
    </p>
</div>
</body>
</html>