<!DOCTYPE html>
<html>
<head>
<title>Home</title>    
<link rel="stylesheet" href="{{url_for('static',filename='main_style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='index_style.css')}}">
</head>
<body>
{% include 'header.html' %}
<div id="wrapper">
<h1>Watt Watch USA</h1>
<h2 class="forGraders">For Graders:</h2>
<p class="forGraders">The compare states page is what I decided to work on. 
It can be accessed through the compare tab at the top, 
or by visiting a state through the search bar and then 
hitting the compare button on that single state page. 
For the compare page, data for WY and CA has been hard coded.
</p>

<p>Watt Watch is ... Filler text for now: Lorem ipsum dolor sit amet, 
consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</body>
</html>